@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
/* AI Image Analysis */
/* Image Analysis predictions table */
.ai-analysis__table {
  display: flex;
  flex-direction: row;
  background: var(--gradient-bar);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.ai-analysis__predictions-table {
  display: flex;
  flex-direction: column;
  color: white;
  
  padding: 8px;
}

.ai-analysis__predictions-table-row {
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  color: white;
  padding: 8px;
}

.ai-analysis__table__leftcolumn {
  
}

.ai-analysis__table__rightcolumn {
  font-weight: bold;
}
span {
  color: #0ccac4;
}

.ai-analysis__predictions-table-row:nth-child(even) {
  background-color: #042c54;
}

.ai-analysis__predictions-table-row:hover {
  background: var(--gradient-bar);
}
/* Image Analysis Containers - Thumbnails - Image - Input */

// ANALYSIS.SCSS - CLEAN UP -> it's from image-detector.scss

.p {
  max-width: 200px;
  height: 200px;
  margin: 50px 0px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
}

.p-devtools {
  width: 35vw;
  margin: 50px 0px;
  height: auto;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

  .details {
    flex: 1;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 550px;
    width: 400px;
    overflow-x: auto;

    .console {
      border-bottom: 0.2px solid lightgray;
      background-color: black;
      width: 100%;
      padding: 3px 10px;
      font-style: italic;
      font-size: 14px;
      font-weight: 300;
    }

    h2, h3 {
      padding: 0px 10px 0px 40px;
    }
    p {
      padding: 6px;
    }
    .stack {
      font-weight: 700;
      letter-spacing: 0.5px;
      background-color: lightblue;
    }
  }

.p-browser {
  min-height: 20px;
  color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-title {
  margin: 3px;
  padding-left: 10px;
  color: gray;
}
.p-dev-tools {
  border: 0.5px solid lightgray;
  display: flex;

  .p-dev-browser {
    min-height: 20px;
    min-width: 300px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    color: black;

    p {
      padding: 10px;
    }
    
  }

  .image-concepts {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: start;
  }
  .p-img {
    width: 100%;
    border: 1px solid #ddd;
  }
  .p-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
  // .p {
  //   width: 40%;
  //   height: 20vh;
  // }
}

@media screen and (max-width: 600px) {
  .p {
    max-width: 80%;
    height: 30vh;
  }
  .thumb-container {
    display: none;
  }
  .p-dev-tools {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .i {
    width: 100%;
    height: auto;
    margin: 0px 0px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0 0;
    overflow-x: hidden;
    .p-devtools {
      height: auto;
      width: 100%;
      margin: 0px 0px 50px 0px;
      border-radius: 0;
      flex-direction: column;
      width: 100%;
      overflow-x: hidden;
    }

    .p-devtools .details #customers {
      width: 87%;
    }

    h2 {
      font-size: 1em;
    }
    #customers {
      font-size: 0.8em;
      text-align: left;
    }

    #customers td,
    #customers th {
      border: 0px solid #ddd;
      padding: 2px;
    }

    #customers tr {
      padding: 2px;
      width: 50vw;
    }

    #customers th {
      padding-left: 2px;
      padding-right: 2px;
    }

    #customers th:nth-child(2),
    #customers td:nth-child(2) {
      text-align: left;
    }
  }

}
